*.beam
deps/
ebin/*.app
.dht_bt.plt
src/dialyzer.out
.dht.plt
src/dialyze.out
dht.state.bin
test/.eqc-info
test/current_counterexample.eqc
_build
.rebar
doc/*.html
doc/*.css
doc/*.png
doc/edoc-info

current_counterexample.eqc
.eqc-info
_rel
relx
