{erl_opts, [
            %% bin_opt_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import,
            warn_bif_clash,
            %% warn_missing_spec,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.


{require_otp_vsn, "R13B03|R13B04|R14|R15"}.

{cover_enabled, true}.

{edoc_opts, [{todo, true}]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [
       {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
       {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
       {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "master"}},
       {meck, ".*", {git, "git://github.com/eproxus/meck.git", "master"}},
       {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}},
       {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.6.1"}},
       {rlimit, ".*", {git, "git://github.com/jlouis/rlimit.git", "master"}},
       {cascadae, ".*", {git, "git://github.com/arcusfelis/cascadae.git", "master"}}
       ]}.
