[{sasl,
   [ {error_logger_mf_dir, "./log/mf"},
     {error_logger_mf_maxbytes, 10485760},
     {error_logger_mf_maxfiles, 10} ] },
 {dht,
	[
	  %% Port to use
	  {port, 3739},
	  
	  %% The file in which to store the current DHT application state
	  {state_file, "./dht_state/dht_state.bin"},
	  
	  %% The "bootstrap nodes to start off the DHT from"
	  {bootstrap_nodes, []},
	  
	  %% The options to give the listen socket. This is useful to only bind to a specific port
	  {listen_opts, []}
	]}
].
